<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Field Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-button expand="block" class="btn-primary" (click)="createFieldActivity()">
    <span>New Field Activity</span>
  </ion-button>-->

  <img style="width: 250px; height: 250px"  src="assets/icon/icon-add.png"  (click)="createFieldActivity()"/>
  <img style="width: 250px; height: 250px"  src="assets/icon/icon-history.png"  (click)="goToFieldActivityHistory()"/>
  

  <!--<ion-button expand="block" class="btn-primary" (click)="goToFieldActivityHistory()">
    <span>Field Activity History</span>
  </ion-button>-->

</ion-content>
