ion-button{
    margin:15px;

    font-family: Century Gothic, sans-serif;
}

ion-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}