<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button (click)="goToHome()" >
      <img  src="assets/icon/home2.png" />
      <ion-label> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="areal-statement" >
      <img  src="assets/icon/area2.png" />
      <ion-label> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="field-activity">
      <img  src="assets/icon/shovel2.png" />
      <ion-label> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="harvest-plan">
      <img  src="assets/icon/timer2.png" />
      <ion-label> </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>