ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    --background: linear-gradient(to bottom,#E4F2F3,#A4E8CC, #8EE4BF);
}


.all-side-shadow {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  ion-card {
    margin-top: 30px;
    margin-bottom: 30px;
  }