<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button (click)="goToHome()" >
      <img style="width: 75px; height: 75px"  src="assets/icon/home2.png" />
      <ion-label> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="field-activity-admin">
      <img style="width: 75px; height: 75px"  src="assets/icon/shovel2.png" />
      <ion-label> </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <img style="width: 75px; height:75px"  src="assets/icon/palm-leaf2.png" />
      <ion-label> </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
