ion-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: Century Gothic, sans-serif;
}

ion-card{

    background: #bbdbd133;
    

}