ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: 'Poppins-Regular';
}

img{
    display: block;
    margin: 0 auto;
}

.content-center {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ion-item{
      padding: 15px;
      padding-bottom: 0;
  }

  ion-button{
      margin: 70px;
      margin-top: 25px;
  }